.row-fluid
  .span6.offset3{ style: 'margin-bottom: 20px;' }
    = link_to 'Load more entries', refresh_url(last: @entries.last.try(:published)), id: 'more-results-btn', remote: true, class: 'btn btn-block btn-large', data: { loading_text: "Loading..." }
    
:javascript
  #{render 'shared/notify_of_updates.js' }