// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry {
  h1 { font-size: 1.5em; }
  h2 { font-size: 1.3em; }
  h3 { font-size: 1.2em; } 
  
  .likeable {
    color: #ffb700;
    margin-right: 5px;
  }
  
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .author {
    font-weight: bold;
  }
  
  .date {
    text-align: right;
  }
  
  .content {
    padding: 10px;
  }
  
  blockquote p {
    font-size: 1em;
  }
}

.entries {
  .has-media, .image-container, .rss-wrap {
    text-align: center;
    img {
      @extend .thumbnail;
      display: inline-block;
      border-color: $border_color;
      background: #fff;
    }
    .flex-video {
      display: block;
    }
  }
  
  iframe {
    @include box-sizing(border-box);
    @extend .thumbnail;
    display: inline-block;
    border: 1px solid $border_color !important;
    background: #fff;      
  }
}