- if signed_in?
  - if current_user.admin?
    %ul.nav.nav-list.well.well-small.feed-nav
      %li.nav-header
        User Actions
      %li
        = link_to allread_entries_path, method: :patch do
          %i.icon-envelope
          Mark all read
      %li
        = link_to feeds_path do
          %i.icon-edit
          Edit Feeds

  %br/
  = link_to signout_path, class: 'btn btn-block' do
    %i.icon-lock
    Sign out
- else
  = link_to signin_path, class: 'btn btn-block' do
    %i.icon-lock
    Sign in